header {
  background: yellow;
  height: 200px;
} /*not used*/

header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.bigHeader {
  background: yellow;
  height: 50px;
  width: 680px
}

.bigHeader h1 {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: red;
  font-size: 20px;
}

.bigHeader h2 {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: blueviolet;
  font-size: 18px;
}

.nav-item {
  background: #f9b713;
  height: 20px;
  display: inline-block;
}

.nav-item h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: yellowgreen;
  font-size: 3rem;
}

.nav-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.nav-tabs {display: inline-block;}

.nav-tabs button.active {
  background-color: rgb(196, 248, 91);
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 60%;
}

.footer h1 {text-align: right;}

.center {display: block;
margin-left: auto;
margin-right: auto;} /*not used*/

.book {font-size: 28px;}

.listItem {width: 500px;}